<iframe style="border: 0px; width: 410px; height: 448px;"
  src="https://editor.p5js.org/desaiwang/full/jPGhfqVlE"></iframe>


<!-- <script defer language="javascript" type="text/javascript">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://unpkg.com/honeycomb-grid@4.1.5/dist/honeycomb-grid.umd.js"></script>
<script>
  let xRadius = 10;
  let yRadius = 10;
  const Tile = Honeycomb.defineHex({ dimensions: { xRadius: 10, yRadius: 10 } })


  // 2. Create a grid by passing the class and a "traverser" for a rectangular-shaped grid:
  const grid = new Honeycomb.Grid(Tile, Honeycomb.rectangle({ width: 13 * (20 / xRadius), height: 15 * (20 / yRadius) }))
  // console.log(grid);


  let x = 2;
  let y = 7;
  let ringsCap = 10 * (20 / xRadius);
  let centers = [[x, y], [x, y], [x, y], [x, y], [x, y]];
  let pframeCounts = [0, 0, 0, 0, 0];

  // let rings = [];
  // for (let i = 1; i < 10; i++) {
  //   let radiusRing = Honeycomb.ring({ center: [x, y], radius: i });
  //   rings.push(grid.traverse(radiusRing));
  // }

  const colors = ['#126eaf',
    '#0580b8',
    '#1991bf',
    '#34a2c5',
    '#50b3c9',
    '#6cc3ce',
    '#88d2d3',
    '#a4e1da',
    '#c0f0e3',
    '#dbffee',
    '#dbffee',
    '#d1f6d8',
    '#ceebbf',
    '#d1dfa6',
    '#d8d18e',
    '#e1c27a',
    '#ebb06c',
    '#f49d66',
    '#fb8868',
    '#ff7272']

  const colorsBlue = ['#dbffee',
    '#c0f0e3',
    '#a4e1da',
    '#88d2d3',
    '#6cc3ce',
    '#50b3c9',
    '#34a2c5',
    '#1991bf',
    '#0580b8',
    '#126eaf']

  const colorsRed = ['#dbffee',
    '#d1f6d8',
    '#ceebbf',
    '#d1dfa6',
    '#d8d18e',
    '#e1c27a',
    '#ebb06c',
    '#f49d66',
    '#fb8868',
    '#ff7272'
  ]
  function setup() {
    // for full size render window
    // createCanvas(windowWidth, windowHeight);
    createCanvas(400, 400);
    frameRate(10);

  }

  function draw() {
    background(0);
    fill(255);
    stroke(2);

    for (let i = 0; i < pframeCounts.length; i++) {
      if (i < pframeCounts.length - 1 && pframeCounts[i] > ringsCap) {
      }
      else {
        let r = pframeCounts[i] % ringsCap;
        let radiusRing = Honeycomb.ring({ center: centers[i], radius: r });
        let ring = grid.traverse(radiusRing);

        let fillColor = color(colors[r])
        let fillAlpha = map(i, 0, pframeCounts.length - 1, 0, 255);
        fillColor.setAlpha(fillAlpha);
        fill(fillColor);
        for (let shape of ring) {

          beginShape();
          shape.corners.forEach(d => {
            vertex(d.x, d.y);
          });
          endShape(CLOSE);
        }

      }
    }




    fill(colors[0]);

    let centerHex = grid.getHex(centers[centers.length - 1]);
    // console.log(pframeCounts[4]);
    beginShape();
    centerHex.corners.forEach(d => {
      vertex(d.x, d.y);
    });
    endShape(CLOSE);

    pframeCounts = pframeCounts.map(d => d + 1);

  }

  function keyPressed() {
    if (key == 'd') x++;
    if (key == 'a') x--;
    if (key == 'w') y--;
    if (key == 's') y++;
    // console.log(x, y);

    pframeCount = 0;


    centers.shift();

    centers.push([x, y]);

    pframeCounts.shift();
    pframeCounts.push(0);
  }

</script> -->